# Bank Marketing

## Overview

The  data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed.  

We chose this dataset because its big enough, so when we split it into train, validation and test, these subsets will be relatively big for our algorithms to learn well increasing their accuracy and reliability also because Marketing is a very crucial part of every business, so knowing how to win a customer sounded very interesting to us since we are anticipating on changing the world in the business field in future.

## Dataset Overview
### The Dataset has 20 Input Variables  (Features):

**#bank client data:**  
1 - _Age_ (numeric)  
2 - _Job_ **:** type of job (categorical: 'admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed', 'services', 'student', 'technician', 'unemployed', 'unknown')  
3 - _Marital_ **:** marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)  
4 - _Education_ (categorical:   'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate', 'professional.course', 'university.degree', 'unknown')  
5 - _Default_ **:** has credit in default? (categorical: 'no', 'yes', 'unknown')
6 - _Housing_ **:** has housing loan? (categorical: 'no', 'yes', 'unknown')  
7 - _Loan_ **:** has personal loan? (categorical: 'no', 'yes', 'unknown')  

**#related with the last contact of the current campaign:**  
8 - _Contact_ **:** contact communication type (categorical: 'cellular', 'telephone')  
9 - _Month_ **:** last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')  
10 - _Day_of_week_ **:** last contact day of the week (categorical: 'mon', 'tue', 'wed', 'thu', 'fri')  
11 - _Duration_ **:** last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.  

**#other attributes:**  
12 - _Campaign_ **:** number of contacts performed during this campaign and for this client (numeric, includes last contact)  
13 - _pDays_ **:** number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)  
14 - _Previous_ **:** number of contacts performed before this campaign and for this client (numeric)  
15 - _pOutcome_ **:** outcome of the previous marketing campaign (categorical: 'failure', 'nonexistent', 'success')  

**#social and economic context attributes**  
16 - _emp.var.rate_ **:** employment variation rate - quarterly indicator (numeric)  
17 - _cons.price.idx_ **:** consumer price index - monthly indicator (numeric)  
18 - _cons.conf.idx_ **:** consumer confidence index - monthly indicator (numeric)  
19 - _Euribor3m_ **:** euribor 3 month rate - daily indicator (numeric)  
20 - _nr.employed_ **:** number of employees - quarterly indicator (numeric)  

### Output Variable (Desired Target):
y - has the client subscribed a term deposit? (binary: 'yes', 'no')

## Contributors:
* Phillip Moyo – 2185695   
* Moshito Charles Makgakga – 1445435   
* Godfrey T Chamunogwa – 2234379
* Fankholoro Vincent Sebothoma – 1671848

# Neural Networks

# Import Libraries

In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,MinMaxScaler

# Import the Dataset

In [29]:
df = pd.read_csv('bank-full.csv', sep=";")

## Trimming the Data
The Data is heavily biased, so we are trimming it to make the different output classes more even (unbiased)

In [30]:
df_yes = df[df['y']=='yes']
df_no = df[df['y']=='no']
df_no = df_no.iloc[:5289, :]

df = pd.concat([df_yes, df_no])
df = df.sample(frac=1).reset_index(drop=True)       #shuffle the rows
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,55,admin.,married,secondary,no,183,yes,no,unknown,6,may,150,1,-1,0,unknown,no
1,39,blue-collar,single,secondary,no,169,yes,no,unknown,9,may,38,1,-1,0,unknown,no
2,41,management,married,tertiary,no,27696,no,no,cellular,12,feb,138,2,184,3,success,yes
3,29,technician,single,secondary,no,674,no,no,cellular,30,apr,483,1,13,5,success,yes
4,42,technician,married,tertiary,no,239,yes,yes,unknown,6,may,191,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10573,54,admin.,divorced,secondary,no,1814,no,no,unknown,13,may,521,1,-1,0,unknown,no
10574,32,services,single,secondary,no,228,yes,no,unknown,20,may,257,1,-1,0,unknown,no
10575,45,blue-collar,married,unknown,no,1263,yes,no,unknown,19,may,283,3,-1,0,unknown,no
10576,33,services,married,secondary,no,22,yes,no,unknown,5,may,71,1,-1,0,unknown,no
10577,29,management,single,tertiary,no,572,no,no,cellular,16,dec,314,1,195,1,success,yes

# Feature Scaling

In [31]:
##--scaling column(y)=> 'yes'=1 and 'no'=0 also @there are no null values in our dataset---##
y = LabelEncoder()
df.iloc[:,-1] = y.fit_transform(df.iloc[:,-1])

In [32]:
##--scaling column(poutcome)=> 'failure'=0, 'other'=1, 'success'=2, 'unknown'=3
poutcome = LabelEncoder()
df.iloc[:,-2] = poutcome.fit_transform(df.iloc[:,-2])

In [33]:
##--scaling column(contact)=> 'cellular'=0, 'telephone'=1, 'unknown'=2
contact = LabelEncoder()
df.iloc[:,8] = contact.fit_transform(df.iloc[:,8])

In [34]:
##--scaling column(marital)=> 'married'=1, 'divorced'=0, 'single'=2
marital = LabelEncoder()
df.iloc[:,2] = marital.fit_transform(df.iloc[:,2])

In [35]:
##--scaling column(education)=> 'primary'=0, 'secondary'=1, 'tertiary'=2, 'unknown'=3
education = LabelEncoder()
df.iloc[:,3] = education.fit_transform(df.iloc[:,3])

In [36]:
##--scaling column(default)=> 'yes'=1, 'no'=0'
default = LabelEncoder()
df.iloc[:,4] = default.fit_transform(df.iloc[:,4])

In [37]:
##--scaling column(housing)=> 'yes'=1, 'no'=0'
housing = LabelEncoder()
df.iloc[:,6] = housing.fit_transform(df.iloc[:,6])

In [38]:
##--scaling column(loan)=> 'yes'=1, 'no'=0'
loan = LabelEncoder()
df.iloc[:,7] = loan.fit_transform(df.iloc[:,7])

In [39]:
##--scaling column(month)=> 'jan'=1,'feb'=2, 'mar'=3,...,'dec'=12
month = df.iloc[:,10].replace(['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'],[1,2,3,4,5,6,7,8,9,10,11,12])
df.iloc[:,10] = month

In [40]:
##--scaling column(job)
job = df.iloc[:,1].replace(['blue-collar', 'admin.', 'technician', 'management', 'retired','student', 'entrepreneur', 'services', 'self-employed','unemployed', 'housemaid', 'unknown'],[1,2,3,4,5,6,7,8,9,10,11,12])
df.iloc[:,1] = job

In [41]:
# add bias column of 1's
df.insert(0, 'bias', np.ones(df.shape[0]))

In [42]:
## scale the features
scaler = MinMaxScaler()
columns = ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome'] 
df[columns] = scaler.fit_transform(df[columns])
df

,bias,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1.0,0.480519,0.090909,0.5,0.333333,0.0,0.041364,1.0,0.0,1.0,0.166667,0.363636,0.038154,0.000000,0.000000,0.000000,1.000000,0
1,1.0,0.272727,0.000000,1.0,0.333333,0.0,0.041199,1.0,0.0,1.0,0.266667,0.363636,0.009281,0.000000,0.000000,0.000000,1.000000,0
2,1.0,0.298701,0.272727,0.5,0.666667,0.0,0.366897,0.0,0.0,0.0,0.366667,0.090909,0.035061,0.016129,0.216374,0.051724,0.666667,1
3,1.0,0.142857,0.181818,1.0,0.333333,0.0,0.047174,0.0,0.0,0.0,0.966667,0.272727,0.124001,0.000000,0.016374,0.086207,0.666667,1
4,1.0,0.311688,0.181818,0.5,0.666667,0.0,0.042027,1.0,1.0,1.0,0.166667,0.363636,0.048724,0.032258,0.000000,0.000000,1.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10573,1.0,0.467532,0.090909,0.0,0.333333,0.0,0.060662,0.0,0.0,1.0,0.400000,0.363636,0.133797,0.000000,0.000000,0.000000,1.000000,0
10574,1.0,0.181818,0.636364,1.0,0.333333,0.0,0.041897,1.0,0.0,1.0,0.633333,0.363636,0.065739,0.000000,0.000000,0.000000,1.000000,0
10575,1.0,0.350649,0.000000,0.5,1.000000,0.0,0.054143,1.0,0.0,1.0,0.600000,0.363636,0.072441,0.032258,0.000000,0.000000,1.000000,0
10576,1.0,0.194805,0.636364,0.5,0.333333,0.0,0.039460,1.0,0.0,1.0,0.133333,0.363636,0.017788,0.000000,0.000000,0.000000,1.000000,0
10577,1.0,0.142857,0.272727,1.0,0.666667,0.0,0.045967,0.0,0.0,0.0,0.500000,1.000000,0.080433,0.000000,0.229240,0.017241,0.666667,1

# Splitting the Dataset into Training, Validation and Test set

#### Training data (60% of the data)

In [43]:
# trining dataset
train_data = df.iloc[:6347:]

# training features
train_features = train_data.iloc[:,:-1].values

# training targets
train_targets = train_data.iloc[:,-1].values

#### Validation data (20% of the data)

In [44]:
# validation dataset
validate_data = df.iloc[6347:8463:]

# validation features
validate_features = validate_data.iloc[:,:-1].values

# validation targets
validate_targets = validate_data.iloc[:,-1].values

#### Testing data (20% of the data)

In [45]:
# testing dataset
test_data = df.iloc[8463::]

# testing features
test_features = test_data.iloc[:,:-1].values

# testing targets
test_targets = test_data.iloc[:,-1].values

# Training the Nueral Networks Model on the Training Set

#### Architectural veiw of the network
<img src="files/neuralNetwork.png"  width='800rem'>

#### Initial weights and they include the intercept (bias)

In [334]:
Q1 = np.random.uniform(0, 1, size=(2,17)) # 2x17
Q2 = np.random.uniform(0, 1, size=(1, 3)) # 2x3 -> 1X3

#### Useful functions

In [335]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

In [336]:
# forward prop. X data point, W1, W2 weight for the layers
def forwardprop(X, W1, W2):
    a1 = sigmoid(W1 @ X)
    
    a1 = np.insert(a1,0,1)
    
    a2 = sigmoid(W2 @ a1)
    
    return [a1,a2]
# no change

In [337]:
def backprop(Y, h, W, a):
    e2 = h - Y
    e1 = (W.T @ e2) * (a *(1 - a)) 
    return [e1[1::], e2]
# no change

In [338]:
def grad(x, e1, a, e2):
    DL2 = np.array([e2]).T @ np.array([a])
    DL1 = np.array([e1]).T @ np.array([x])

    return [DL1, DL2]
# no change

In [339]:
def Errors(xValues,yValues,parametre1):
    hx1 = 1/(1 + np.exp(-(parametre1 @ xValues.T)))
    ans = -(1/len(yValues))*((yValues @ np.log(hx1).T +  (1 - yValues) @ np.log(1 - hx1).T))
    return ans

In [340]:
def regularizer(W,lambda_):
    y = W
    y[:,0] = 0
    return lambda_ * (W+y)

In [351]:
def NNlearning(data, target, Q1, Q2, alpha,epsalon, lambda_):
    W1 = np.zeros((Q1.shape[0],Q1.shape[1]))
    W2 = np.zeros((Q2.shape[0],Q2.shape[1]))
    itr = 0
    
    while (np.linalg.norm(Q1-W1) > epsalon and np.linalg.norm(Q2-W2) > epsalon) and (itr != 100):
        W1 = Q1
        W2 = Q2
        
        for i in range(len(data)):
            a, h = forwardprop(data[i], Q1, Q2) # forward prope
            e1, e2 = backprop(target[i], h, Q2, a) # backpropergation
            grad1, grad2 = grad(data[i], e1, a, e2) # gradients
            
            # gradient decent update
            Q1 = W1 - (1/len(W1))*(alpha*(grad1) + regularizer(W1,lambda_))
            Q2 = W2 - (1/len(W2))*(alpha*(grad2) + regularizer(W2,lambda_))
            
        itr = itr + 1
        
#         print(np.linalg.norm(Q1-W1))
#         print(np.linalg.norm(Q2-W2))
#         print()
        
    return [Q1, Q2, itr]

In [364]:
# drows the confusion matrix
def printConfusionMatrix(predicted_test):
    #find the confusion matrix for the model
    class_0_0 = 0 # in class 0 and classified in class 0
    class_0_1 = 0 # in class 0 and classified in class 1
    class_1_0 = 0 # in class 1 and classified in class 0
    class_1_1 = 0 # in class 1 and classified in class 1
    predicted = np.round(predicted_test)
    for i in range(len(predicted)):
        if(predicted[i] == 0 and test_targets[i] == 0):
            ++class_0_0
        if(predicted[i] == 0 and test_targets[i] == 0):
            class_0_0 += 1

        elif (predicted[i] == 0 and test_targets[i] == 1):
            class_0_1 += 1

        elif (predicted[i] == 1 and test_targets[i] == 0):
            class_1_0 += 1

        elif (predicted[i] == 1 and test_targets[i] == 1):
            class_1_1 += 1
        else:
            print("i couldint classify: ", y_predicted)

    print('       confusion Matrix        ')
    print('-------------------------------')
    print('%-s %-7s %-s %-5s %-s %-5s %-s' %('|',' ','|','class 0','|','class 1','|',))
    print('-------------------------------')
    print('%-s %-5s %-s %-7i %-s %-7i %-s' %('|','class 0','|',class_0_0,'|',class_0_1,'|'))
    print('-------------------------------')
    print('%-s %-5s %-s %-7i %-s %-7i %-s' %('|','class 1','|',class_1_0,'|',class_1_1,'|'))
    print('-------------------------------')
    accuracy = ((class_0_0 + class_1_1) / (class_0_0 + class_0_1 + class_1_0 + class_1_1)) * 100
    print('The model is', accuracy,'%', 'acurate')

#### Training the model on the training data

In [369]:

alpha = 0.001
epsalon = 0.001
lambda_ = 0.1
W_t1, W_t2, count_t  = NNlearning(train_features, train_targets, Q1, Q2, alpha, epsalon, lambda_)

#### Tweeking the hypaparameter using validation data
1. Alpha 
2. lambda
3. epsalon

In [370]:
# 0.0001
# 0.001
# 0.1
alpha = 0.0001
epsalon = 0.001
lambda_ = 00.1
W_v1, W_v2, count_v  = NNlearning(validate_features, validate_targets, Q1, Q2, alpha, epsalon, lambda_)

# Predicting the Test Results

In [371]:
predicted_test1 = np.array([])
for i in range(len(test_features)):
    predicted_test1 = np.append(predicted_test1,forwardprop(test_features[i],W_t1,W_t2)[1])

# validation
predicted_test2 = np.array([])
for i in range(len(test_features)):
    predicted_test2 = np.append(predicted_test2,forwardprop(test_features[i],W_v1,W_v2)[1])

# Analyzing the Accuracy of the Model

#### Error on the training data

#### Error on the testng data

#### confusion matrix

In [372]:
printConfusionMatrix(predicted_test1)
printConfusionMatrix(predicted_test2)

       confusion Matrix
-------------------------------
|         | class 0 | class 1 |
-------------------------------
| class 0 | 0       | 0       |
-------------------------------
| class 1 | 994     | 1121    |
-------------------------------
The model is 53.00236406619385 % acurate
       confusion Matrix
-------------------------------
|         | class 0 | class 1 |
-------------------------------
| class 0 | 0       | 0       |
-------------------------------
| class 1 | 994     | 1121    |
-------------------------------
The model is 53.00236406619385 % acurate

# Visualizing Set Results